<h1>Productos Tiempo real</h1> <hr><br>

<div>
    <h3>Datos Producto nuevo</h3>
    <input type="text" id="namePto">
    <input type="text" id="idPto">
    <input type="text" id="pricePto">
</div><hr><br>
<div>
    <h3>Productos</h3> <br>
    <ul id="products"></ul>


</div>



<script src="socket.io/socket.io.js"></script> 
<script src="/assets/scripts/products.js"></script>