<h1>Productos Tiempo real</h1> <hr><br>

<div>
    <h3>Datos Producto nuevo</h3>
    <label> Producto: <input type="text" id="namePto"></label>    
    <label>Precio: <input type="number" id="pricePto"></label>
</div><hr><br>
<div>
    <h3>Productos</h3> <br>
    <ul id="products"></ul>


</div>



<script src="socket.io/socket.io.js"></script> 
<script src="/assets/scripts/products.js"></script>