<div class="container px-10" action="/api/sessions/registro" method="post">
  <h1>REGISTRO ECOMMERCE</h1>
<hr>
<BR></BR>

<form class="w-25 my-10" action="/api/sessions/registro" method="post">

  {{#if error}}
  <div><strong style="color:red;">{{error}}</strong></div>
  {{/if}}


  <div class="row mb-3 px-30">
    <label for="inputEmail3" class="col-sm-2 mx-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="name" class="form-control" id="inputEmail3" name="nombre">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2  mx-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" name="email">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 mx-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" name="password">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button> <br>
  <a href="/"> volver</a>
</form>

</div>